<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="DotMaysWind.Data.Configuration.DatabaseSettings, DotMaysWind.Data, Version=0.3.0.0, Culture=neutral, PublicKeyToken=dc9caf96545061a2"/>
  </configSections>
  <connectionStrings>
    <!--如果使用JET连接Access请使用如下连接字符串-->
    <add name="OLEDBCONN" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ACCESSDB.mdb" providerName="System.Data.OleDb"/>
    <!--如果使用ACE连接Access请使用如下连接字符串-->
    <!--<add name="OLEDBCONN" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ACCESSDB.mdb;" providerName="System.Data.OleDb"/>-->
    <!--如果使用SQLite请使用如下连接字符串-->
    <add name="SQLITEDBCONN" connectionString="Data Source=|DataDirectory|\SQLITEDB.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />
    <!--<add name="SQLITEDBCONN" connectionString="Data Source=|DataDirectory|SQLITEDB.db;version=3" providerName="Mono.Data.Sqlite" />-->
    <!--如果使用SQLServer请使用如下连接字符串-->
    <add name="SQLDBCONN" connectionString="Data Source=MSSQLURL;Initial Catalog=MSSQLDB;User ID='USERNAME';Password='PASSWORD';Pooling=true;" providerName="System.Data.SqlClient"/>
    <!--如果使用MySQL请使用如下连接字符串-->
    <add name="MYSQLDBCONN" connectionString="Data Source=MSSQLURL;Database=MYSQLDB;User Id=USERNAME;Password=PASSWORD" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="OLEDBCONN"/>
</configuration>